<a href="/bookings">View all Bookings</a>
<h1>Vacation Homes</h1>

<% @vacation_homes.each do |home| %>
  <h3><a href="/vacation_homes/<%= home.id %>"><%= home.listing_name %></a></h3>
  <p>Location: <%= home.location%></p>
  <p>Created at: <%= home.created_at%></p>
<% end %><br>

<!-- <button type="button"> -->
<a href="/vacation_homes/new">New Vacation Home</a>
<!-- </button> -->
